.testimonial-section {
  position: relative;
  margin-bottom: 60px;
  h1 {
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 20px;
  }
  .inner{
    hr{
      margin-bottom: 0;
     }
    margin-bottom: 40px;
  }
 
  .logo{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    display: none;
  }
  .t-slides{
    display: flex;
    align-items: flex-start;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    width:100%;
  
  }
  .t-slides::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
  }

  .t-slide {
    cursor: grab;
    flex-shrink: 0;
    flex-basis: 100%;
    color: #1d2129;
    margin-right: 20px;
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow:
      0px 1px 1px 0px rgba(0, 0, 0, 0.04),
      0px 4px 10px 0px rgba(0, 0, 0, 0.04);
    .top-section {
      margin-bottom: 20px;
      font-weight: 600;
    }
    p {
      margin-bottom: 0;
    }
    span {
      font-weight: 500;
      font-size: 13px;
      color: #96979a;
      margin-left: 8px;
    }
    &:last-child{
      display: none;
    }
  }
  @include desktop {
    .logo{
      display: block;
    }
    margin-top: 0;
    .inner{
      width: var(--section-width);
    }
    h1{
      text-align: right;
    }
    .t-slides{
      width: 750px;
      padding-right: 100px;
    }
    .t-slide {
      flex-shrink: 0;
      flex-basis:353px;
      display: block;
      margin-right: 20px;
      &.t-3{
        flex-basis:531px;
      }
      &:first-child{
        margin-left: 100px;
      }
      &:last-child{
        display: block;
        width:300px;
        background: transparent;
      }
    }
  }
}
